<%= form_for(student) do |f| %>
  <% if student.errors.any? %>
    <div class="error_explanation">
      <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="edit-area">
    <dl>
      <dt>Name(Khmer Character)</dt>
      <dd><%= f.text_field :name_khmer, maxlength: 100 %></dd>
      <dt>Name(Alphabet)</dt>
      <dd><%= f.text_field :name_alphabet, maxlength: 100 %></dd>
      <dt>Gender</dt>
      <dd><%= f.select :gender, Student.genders.keys.to_a, value: student.gender, class: 'class-select' %></dd>
      <dt>Academic Year</dt>
      <dd><%= f.select :academic_year_start, academic_year_list, value: student.academic_year_start %> - <%= f.select :academic_year_end, academic_year_list, value: student.academic_year_end %></dd>
      <dt>Start Study</dt>
      <dd><%= f.date_select :started_at, value: student.started_at %></dd>
      <dt>End Study</dt>
      <dd><%= f.date_select :end_at, value: student.end_at %></dd>
      <dt>Khmer Calendar(For Start Date)</dt>
      <dd><%= f.select :started_at_khmer_calender, khmer_calendar_list, value: student.started_at_khmer_calender, class: 'class-select' %></dd>
      <dt>Course of Study</dt>
      <dd><%= f.collection_select :school_program_id, school_programs, :id, :name, { include_blank: 'Please Select' }, class: 'class-select' %></dd>
      <dt>Degree</dt>
      <dd><%= f.collection_select :study_level_id, study_levels, :id, :name, { include_blank: 'Please Select' }, class: 'class-select' %></dd>
      <dt>Date of Birth</dt>
      <dd><%= f.date_select :birthdate, start_year: Time.now.year - 100 %></dd>
      <dt>Photo</dt>
      <dd>
        <% if student.profile_image.attached? && student.profile_image.attachment.blob.present? &&
              student.profile_image.attachment.blob.persisted? %>
          <%= image_tag student.profile_image, width: "105", height: "115" %>
          <br/>
        <% end %>
        <%= f.file_field :profile_image %>
      </dd>
    </dl>
  </div>        
  <%= f.submit (["new", "create"].include?(controller.action_name) ? "Create Student" : "Update Student"), class: 'button' %>
  <% if controller.action_name == "edit" %>
    <%= link_to 'Show', @student, class: 'link-button' %>
  <% end %>
  <%= link_to 'List', students_path, class: 'link-button' %>
<% end %>