<% @students.each_slice(9) do |group| %>
  <div class="sheet">
    <% group.each do |student| %>
      <div class="id-card">
        <div class="bar top">
          <p class="card-top">បណ្ណសម្គាល់ខ្លួនសិស្ស-និស្សិត</p>
        </div>
        <div class="photo-area">
          <% if student.profile_image.attached? %>
            <%= image_tag rails_blob_url(student.profile_image) %>
          <% else %>
            <%= image_tag('/dummy-student.png') %>
          <% end %>
        </div>
        <div class="text-block">
          <p class="text-large bold khmer-name"><%= student.name_khmer %></p>
          <p class="text-large bold"><%= student.name_alphabet.upcase %></p>
          <p class="text-large battambang-bold"><%= birthdate(student.birthdate) %></p>

          <p class="text-medium bold khmer-name"><%= student.study_level.name_khmer %></p>
          <p class="text-medium bold battambang-bold">ជំនាញ: <%= student.school_program.skill_khmer %></p>
          <div class="text-narrow">
            <p class="text-medium battambang-regular"><%= student.started_at_khmer_calender %></p>
            <p class="text-medium battambang-regular">កណ្តាល, <%= start_date(student.started_at) %></p>
          </div>
          <p class="text-medium bold khmer-name">វិទ្យាស្ថាន</p>
        </div>
        <div class="bar bottom">
          <p class="card-footer">ផុតកំណត់: <%= expire_date(student.end_at) %></p>
        </div>
        <%= image_tag '/school-stamp.png', class: "stamp" %>
      </div>
    <% end %>
  </div>
  <div class="sheet">
    <% rows = group.each_slice(3).to_a %>
    <% rows.each do |row| %>
      <% if row[2].blank? %>
        <div class="card-back">
        </div>
      <% else %>
        <div class="card-back">
          <div class="logo">
            <%= image_tag('/school-logo.png') %>
          </div>

          <div class="school-name-kh khmer-name">
            <p><%= @config[:school][:ministry_in_charge] %></p>
            <p><%= @config[:school][:name] %></p>
          </div>

          <div class="school-name-en">
            <p><%= @config[:school][:name_en] %></p>
          </div>

          <div class="student-info">
            <p>STUDENT'S ID: .................</p>
            <p class="khmer-name">ឆ្នាំសិក្សា <%= academic_year(row[2]) %></p>
          </div>

          <div class="school-address">
            <p>អាសយដ្ឋាន: <%= @config[:school][:address] %></p>
            <p>ទូរស័ព្ទ: <%= @config[:school][:phone_1] %> / <%= @config[:school][:phone_2] %> / <%= @config[:school][:phone_3] %></p>
          </div>
        </div>
      <% end %>
      <% if row[1].blank? %>
        <div class="card-back">
        </div>
      <% else %>
        <div class="card-back">
          <div class="logo">
            <%= image_tag('/school-logo.png') %>
          </div>

          <div class="school-name-kh khmer-name">
            <p><%= @config[:school][:ministry_in_charge] %></p>
            <p><%= @config[:school][:name] %></p>
          </div>

          <div class="school-name-en">
            <p><%= @config[:school][:name_en] %></p>
          </div>

          <div class="student-info">
            <p>STUDENT'S ID: .................</p>
            <p class="khmer-name">ឆ្នាំសិក្សា <%= academic_year(row[1]) %></p>
          </div>

          <div class="school-address">
            <p>អាសយដ្ឋាន: <%= @config[:school][:address] %></p>
            <p>ទូរស័ព្ទ: <%= @config[:school][:phone_1] %> / <%= @config[:school][:phone_2] %> / <%= @config[:school][:phone_3] %></p>
          </div>
        </div>
      <% end %>
      <div class="card-back">
        <div class="logo">
          <%= image_tag('/school-logo.png') %>
        </div>

        <div class="school-name-kh khmer-name">
          <p><%= @config[:school][:ministry_in_charge] %></p>
          <p><%= @config[:school][:name] %></p>
        </div>

        <div class="school-name-en">
          <p><%= @config[:school][:name_en] %></p>
        </div>

        <div class="student-info">
          <p>STUDENT'S ID: .................</p>
          <p class="khmer-name">ឆ្នាំសិក្សា <%= academic_year(row[0]) %></p>
        </div>

        <div class="school-address">
          <p>អាសយដ្ឋាន: <%= @config[:school][:address] %></p>
          <p>ទូរស័ព្ទ: <%= @config[:school][:phone_1] %> / <%= @config[:school][:phone_2] %> / <%= @config[:school][:phone_3] %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
